<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="theme-color" content="#2196f3">
  <meta http-equiv="Content-Security-Policy" content="img-src * 'self' data: https:; default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap:">
  <title>drawApp</title>
  <link rel="stylesheet" href="css/framework7.min.css">  
  <link rel="apple-touch-icon" href="img/f7-icon-square.png">
  <link rel="stylesheet" href="css/framework7-icons.css">
  <link rel="icon" href="img/f7-icon.png">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="css/app.css">
</head>

<body>
  <div id="app">
    <div class="statusbar"></div>
    <div class="view view-main ios-edges" data-url="/">


    </div>
  </div>
  <script src="cordova.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyD2YvJUGIxF1t9psJHWMY-ESW-5SVVvdF4",
      authDomain: "drawclientlog.firebaseapp.com",
      databaseURL: "https://drawclientlog.firebaseio.com",
      projectId: "drawclientlog",
      storageBucket: "drawclientlog.appspot.com",
      messagingSenderId: "782830840896"
    };
    firebase.initializeApp(config);
  </script>
  <script src="js/framework7.min.js"></script>
  <script type="text/javascript" src="js/helpers.js"></script>
  <script type="text/javascript" src="js/countdown.js"></script>
  <script type="text/javascript" src="js/sketchpadprueba.js"></script>
  <script src="js/routes.js"></script>
  <script src="js/network.js"></script>
  <script src="js/login.js"></script>
  <script src="js/app.js"></script>
  <script src="js/listeners.js"></script>
  <script id="palabrasByProviderScript" type="text/template7">
    <div class="lista-palabras">
        <ul>
          {{#each this}}
          <div class="row">
            <div class="col-100">
                <li ><a class="button col button button-big button-fill button-raised color-blue buttonWord" data-tema={{this.tema}} data-word={{this.palabra}}> {{this.palabra}} </a><li>  
            </div>
          </div>  
          {{/each}}         
        </ul> 
    </div>
  </script>
  <script class="friend-list" type="text/template7">
    <div class="friendsamigos  infinite-scroll-content" id="id-list-amigos">
      <div class="list simple-list">
       <ul id="f-list">
          {{#each this}}
            <li id="{{this.uid}}-list">
              <div class="item-content friendsLiSize">
                <div class="item-media friendsName overflow">
                    <a>{{this.displayName}}</a>                  
                </div>
                <div class="item-inner friendsIcons">
                    <a class="friendProfileButton col button button-fill button-big color-white  " data-uid={{this.uid}}><i class="icon f7-icons">person</i></a>
                    <a class="deleteFriend-Button col button button-fill button-big color-white" data-uid={{this.uid}}><i class="icon f7-icons">delete_round</i></a>
                </div>              
              </div>
           </li>             
         {{/each}}
       </ul> 

      </div>
      <div class="preloader infinite-scroll-preloader"></div>
    </div>   
  </script>
  <script class="friendprofile-template" type="text/template7">
    <div class="friendsProfile-template">
        <div class="container">
          <div class="row">
            <div class="col-35">
              <img src="{{this.photoURL}}" height="80px" width="80px">
            </div>
            <div class="col-65">
              <p>{{this.displayName}}</p>
            </div>
          </div>
        </div>
      </div>
  </script>
  <script class="friend-recived-request-list" type="text/template7">
    <div class="list">
        <ul>
          {{#each this}}
          <div class="col-100 rowSizeSmall">
            <div class="playerRowStyle">
              <li id="{{this.uid}}-request">
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title" data-uid="{{this.requestUid}}">{{this.displayName}}</div>
                  </div>
                  <div>
                    <a class="button col button button-big button-fill color-white buttonFriend-acept" data-name="{{this.displayName}}"
                      data-uid={{this.uid}}>
                      <i class="icon f7-icons">add_round</i></a>
                  </div>                  
                  <div>
                    <a class="button col button button-big button-fill color-white buttonFriend-delete" data-name="{{this.displayName}}"
                      data-uid={{this.uid}}>
                      <i class="icon f7-icons">delete_round</i></a>
                  </div>
                </div>
              </li>
            </div>
          </div>
          {{/each}}
        </ul>
      </div>
  </script>
  <script class="friend-sended-request-list" type="text/template7">
    <div class="list">
        <ul>
          {{#each this}}
          <div class="col-100 rowSizeSmall">
            <div class="playerRowStyle">
              <li id="{{this.uid}}-request">
                <div class="item-content">
                  <div>
                    <div class="item-title" data-uid="{{this.uid}}">{{this.displayName}}</div>
                  </div>
                  <div>
                    <a class="button col button button-big button-fill color-white  buttonFriend-delete2" data-name="{{this.displayName}}"
                      data-uid={{this.uid}}>
                      <i class="icon f7-icons">delete_round</i></a>
                  </div>
                </div>
              </li>
            </div>
          </div>
          {{/each}}
        </ul>
      </div>
  </script>
  <script id="allUsersList" type="text/template7">
    <div class="list">
      <ul>
        {{#each this}}
            <div class="col-100 rowSizeSmall">
              <div class="playerRowStyle">
                <li id="{{this.uid}}-ff">
                  <div class="item-content">
                    <div class="item-media"><img src="{{this.photoURL}}" height="20px" width="20px"></div>
                    <div class="item-inner">
                      <div class="item-title" data-uid="{{this.uid}}">{{this.displayName}}</div>
                    </div>
                    <div class="">
                      <a class="button col button button-big button-fill color-white buttonFriend" id="{{this.uid}}-button"
                        data-friend-uid="{{this.uid}}" data-friend-displayName="{{this.displayName}}">
                      <i class="icon f7-icons">add_round</i></a>
                    </div>
                 </div>
                </li>
              </div>
            </div>
        {{/each}}
      </ul>
    </div>
  </script>
</body>

</html>

