<div class="page" data-name="about">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
          <span class="ios-only">Back</span>
        </a>
      </div>
      <div class="title">About Framework7</div>
    </div>
  </div>
  <div class="page-content">
    <div class="block-title">Welcome to Framework7</div>
    <div class="block">
      <p class="row">
        <button class="col button buttonAbout color-blue">Go to Home</button>
        <a href="/services/" class="link back">
          <i class="icon icon-back"></i>
          <span class="ios-only">services</span>
        </a>
      </p>
    </div>
  </div>
</div>
