<div class="page" data-name="addfriends">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a class="button" id='backHomeAddFriends'><i class="icon f7-icons if-not-md">arrow_left</i> </a>
      </div>
      <div class="title">Players</div>
    </div>
    <div class="navbar-inner">
      <div class="subnavbar">
        <form class="searchbar">
          <div class="searchbar-inner">
            <div class="searchbar-input-wrap">
              <input type="search" placeholder="Search">
              <i class="searchbar-icon"></i>
              <span class="input-clear-button"></span>
            </div>
            <span class="searchbar-disable-button if-not-aurora">Cancel</span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="list searchbar-found">
      <div id="allUsersListInsert">
      </div>
    </div>
    <div class="block searchbar-not-found">
      <div class="block-inner">Nothing found</div>
    </div>
  </div>
</div>