<div class="page" data-name="friends">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a class="button" id='backHomeFriends'><i class="icon f7-icons if-not-md">arrow_left</i> </a>
      </div>
      <div class="title">Friends</div>
    </div>
  </div>
  <div class="page-content privateMatchBackGround">
    <div class="block block-strong ">
      <div id="friendsamigos">
      </div>
    </div>
  </div>
</div>