<div class="page" data-name="friendprofile">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a class="button" id='backHomeFriendProfile'><i class="icon f7-icons if-not-md">arrow_left</i> </a>
      </div>
      <div class="title">Friend Profile</div>
    </div>
  </div>
  <div class="page-content friendsLiSize">
    <div class="block block-strong">
      <div id="template-friend">
      </div>
    </div>
    <div class="block-title margin0">
      <p class="stats-title-size">Games as Painter</p>
    </div>
    <div class="block block-strong text-align-center">
      <div class="gauge gauge-pintorFriendProfile"></div>
    </div>
    <div class="block-title margin0">
      <p class="stats-title-size">Games as Viewer</p>
    </div>
    <div class="block block-strong text-align-center">
      <div class="gauge gauge-visorFriendProfile"></div>
    </div>
  </div>
</div>