<div class="page" data-name="friendsRequest">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a class="button" id='backHome'><i class="icon f7-icons if-not-md">arrow_left</i> </a>
            </div>
            <div class="title">Requests</div>
        </div>
    </div>
    <div class="page-content">
        <h5>Sended</h5>
        <div id="lista-requestSendedFriend">
        </div>
        <h5>Recibed</h5>
        <div id="lista-requestRecivedFriend">
        </div>
    </div>
</div>