<div class="page" data-name="home">
  <div class="page-content homeBackGround">
    <div class="navbar" id="homeNavbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <div class="panel panel-left panel-reveal">
            <div class="list">
              <ul>
                <li class="alt">
                  <img id="avatar" style="width:100px;height:100px;" text-align="center" alt="Edit Profile to add image">
                </li>
                <li>
                  <div class="item-input-wrap">
                    <input id="name" type="text" placeholder="name" text-align="center" disabled>
                    <span class="input-clear-button"></span>
                  </div>
                </li>
                <li>
                  <div class="item-input-wrap">
                    <input id="email" type="text" placeholder="email" text-align="center" disabled>
                    <span class="input-clear-button"></span>
                  </div>
                </li>
              </ul>
            </div>
            <div class="block bigFontSize">
              <p><a id="signout" class="panel-open" data-panel="right">Sign out</a></p>
              <a id="myProfile" class="panel-close" data-panel="right">Profile</a>
              <p><a class="panel-close" id="close" href="#">Close me</a></p>
            </div>
          </div>
          <a href="#" class="link icon-only panel-open" data-panel="left">
            <i class="icon f7-icons ios-only">menu</i>
            <i class="icon material-icons md-only">menu</i>
          </a>
        </div>
        <div class="title sliding">Turbo Draw</div>
      </div>
    </div>
    <div class="fab fab-center-center color-green">
      <a href="#" class="fab fab-center color-blue playButtonHome playButtonHomeSize">
        <i class="icon f7-icons size-big">play_fill</i>
        <i class="icon material-icons md-only">close</i>
      </a>
      <div class="fab-buttons fab-buttons-center playButtonHome ">
        <a id="searchMatch" href="" class="color-blue playButtonHomeChildSize">QUICK GAME</a>
        <a id="privateMatch" href="" class=" fab-buttons-bottom-home color-blue">PRIVATE</a>
      </div>
    </div>
    <div id="showStats" class="fab fab fab-left-bottom color-blue">
      <a href="#">
        <i class="icon f7-icons if-not-md">star_fill</i>
        <i class="icon material-icons md-only">star_fill</i>
      </a>
    </div>
    <div id="showsomething" class="fab fab fab-right-bottom color-blue">
      <a href="#">
        <i class="icon f7-icons if-not-md">person</i>
        <i class="icon material-icons md-only">close</i>
      </a>
      <div class="fab-buttons fab-buttons-top">
        <a href="">
          <i class="icon f7-icons if-not-md" id="friends-button">persons</i>
        </a>
        <a href="">
          <i class="icon f7-icons if-not-md" id="addfriends-button">add</i>
        </a>        
      </div>      
    </div>
    <div id="request-button" class="fab fab fab-center-bottom">
      <a href="#">
        <i  class="icon f7-icons if-not-md">bell</i>        
      </a>
    </div>
  </div>
</div>