<div class="page" data-name="login-screen">
    <div class="page-content homeBackGround">
        <div class="login-screen-title"></div>
        <div class="list">
            <div class="block">
                <button id="googlelogin" class="col button button-fill button-big button-round button-outline color-orange buttonGmail">
                        <i class="icon f7-icons color-white if-not-md googleIcon ">logo_googleplus</i>
                        <i class="icon material-icons md-only ">logo_googleplus</i>                          
                </button>
            </div>            
        </div>
        <p class="text-align-center">To continue we need you to log in with google, please press orange button</p>
    </div>
</div>