<div class="page" data-name="myProfile">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-back"></i>
                    <span class="ios-only">Back</span>
                </a>
            </div>
            <div class="title sliding">My profile</div>
        </div>
    </div>
    <div class="page-content">
        <div class="list">
            <ul>
                <li>
                    <img data-src="path/to/image.jpg" class="lazy">
                </li>
                <li>
                    <div class="row">
                        <div class="col-35 alt align-self-center">
                            <img id="avatarP" style="width:100px;height:100px;" text-align="center" alt="Edit Profile to add image">
                        </div>
                        <div class="col-20 align-self-center">
                            <button id="gallery" class="col button button-round button-fill" hidden><i class="f7-icons">folder_fill</i></button>
                        </div>
                        <div class="col-20 align-self-center">
                            <button id="camera" class="col button button-round button-fill" hidden><i class="f7-icons">camera_fill</i></button>
                        </div>
                        <div class="col-25">
                        </div>
                    </div>
                </li>
                <li>
                    <div><span data-progress="0" class="progressbar" id="demo-inline-progressbar" hidden></span></div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-10 labelHeight pLabel">
                            <div class="item-input-wrap">
                                <i class="icon f7-icons if-not-md">person_round</i>
                            </div>
                        </div>
                        <div class="col-90">
                            <div class="item-input-wrap">
                                <input id="nameP" type="text" placeholder="name" text-align="center" disabled>
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-10 labelHeight pLabel">
                            <div class="item-input-wrap">
                                <i class="icon f7-icons if-not-md">at_round_fill</i>
                            </div>
                        </div>
                        <div class="col-90">
                            <div class="item-input-wrap">
                                <input id="emailP" type="text" placeholder="email" text-align="center" disabled>
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-50">
                            <button id="profileSave" class="col button button-big button-fill" hidden>Save</button>
                        </div>
                        <div class="col-50">
                            <button id="profileCancel" class="col button button-big button-fill" hidden>Cancel</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="block">
                        <button id="profileEdit" class="col button button-big button-fill">Edit Profile</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
