<div class="page" data-name="viewPalabras">
    <div class="page-content justify-content-center align-content-center">
        <div class="container div-size justify-content-center align-content-center">
                <div class="row div-size-40 justify-content-center align-content-center ">
                        <div class="col-60 align-items-center">
                    <h2 class="h2Palabra">SELECT WORD</h2>
                </div>
            </div>
            <div class="row div-size-35 justify-content-center align-content-center ">
                    <div class="col-90 align-items-center">
                    <div class="lista-palabras div-size" id="lista-palabras">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>