<div class="page" data-name="pintorPage">
    <div class="page-content" margin="auto">
        <div class="item-input-wrap">
            <input id="word" type="text" placeholder="word" text-align="center" disabled>
            <span class="input-clear-button"></span>
        </div>
        <div class="block">
            <div class="row" id="final-determinate-container">
            </div>
            <div class="row">
                <canvas id="sketchpad" style="border:3px solid #2196f3;" class="canvas-draw"></canvas>
            </div>
            <div class="row">
                <div class="col-80">
                    <div id="slider-pincel" class="range-slider range-slider-init">
                        <input type="range" min="1" max="50" step="1" value="">
                    </div>
                </div>
                <div class="col-20"><input type="color" id="color-picker"></div>
            </div>
            <div class="row">
                <div class="col-33">
                    <button id="undo" class="col button button-big button-fill button-pinto-visor"><i class="f7-icons size-14">reply_fill</i></button>
                </div>
                <div class="col-33">
                    <button id="clearSketchpad" class="col button button-big button-fill button-pinto-visor"><i class="f7-icons size-14">trash</i></button>
                </div>
                <div class="col-33">
                    <button id="redo" class="col button button-big button-fill button-pinto-visor"><i class="f7-icons size-14">forward_fill</i></button>
                </div>
            </div>
            <div class="row">
                <div class="col-100">
                    <button id="send" class="col button button-big button-fill button-pinto-visor"><i class="f7-icons">check</i></button>
                </div>
            </div>
        </div>
    </div>
</div>