<div class="page" data-name="prePartida">
    <div class="page-content">
        <div class="block getinputs">
            <div class="row no-gap">
                <div class="col-80">
                    <div class="list no-hairlines-md">
                        <ul>
                            <li class="item-content item-input">
                                <div class="item-inner">
                                    <div class="item-input-wrap">
                                        <input id="player1Input" type="text" placeholder="Player 1" disabled>
                                        <span class="input-clear-button"></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-20" id="rPlayer1"></div>
            </div>
            <div class="row no-gap">
                <div class="col-80">
                    <div class="list no-hairlines-md">
                        <ul>
                            <li class="item-content item-input">
                                <div class="item-inner">
                                    <div class="item-input-wrap">
                                        <input id="player2Input" type="text" placeholder="Player 2" disabled>
                                        <span class="input-clear-button"></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-20" id="rPlayer2"></div>
            </div>
        </div>
        <div class="row block">
            <div class="col-50"><button id="buttonlisto" class="col button button-big button-raised button-fill color-red" disabled>LISTO</button></div>
            <div class="col-50"><button id="atras-prematch" class="col button button-big button-raised button-fill">ATRAS</button></div>
        </div>
    </div>
</div>