<div class="page" data-name="privateMatch">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-back"></i>
                    <span class="ios-only">Back</span>
                </a>
            </div>
            <div class="title sliding">Private match</div>
        </div>
    </div>
    <div class="page-content privateMatchBackGround ">
        <div class="row div-size justify-content-center align-content-center ">
            <div class="col-60 align-items-center margin-1">
                <button id="searchMatchCreate" class="col button button-raised button-fill button-round popover-open button-size" data-popover=".popover-creatematch">Create</button>
            </div>
            <div class="col-60 align-items-center margin-1">
                <button id="searchMatchJoin" class="col button button-raised button-fill button-round popover-open button-size" data-popover=".popover-joinmatch">Join</button>
            </div>
        </div>
    </div>
    <div class="popover popover-creatematch popoverCenter">
        <div>
            <tittle>Match ID</tittle>
            <input type="text" id="createMatchName" value="" />
        </div>
        <div>
            <tittle>Match password</tittle>
            <input type="text" id="createMatchPassword" value="" />
        </div>
        <div class="row">
            <div class="col-50">
                <button id="ok-create-privatematch" class="col button button-middle button-fill button-pinto-visor">OK</button>
            </div>
            <div class="col-50">
                <button id="cancel-create-privatematch" class="col button button-middle button-fill button-pinto-visor">Cancel</button>
            </div>
        </div>
    </div>
    <div class="popover popover-joinmatch popoverCenter">
        <div>
            <tittle>Match ID</tittle>
            <input type="text" id="joinMatchName" value="" />
        </div>
        <div>
            <tittle>Match password</tittle>
            <input type="text" id="joinMatchPassword" value="" />
        </div>
        <div class="row">
            <div class="col-50">
                <button id="ok-join-privatematch" class="col button button-middle button-fill button-pinto-visor">OK</button>
            </div>
            <div class="col-50">
                <button id="cancel-join-privatematch" class="col button button-middle button-fill button-pinto-visor">Cancel</button>
            </div>
        </div>
    </div>
</div>