<div class="page" data-name="statsPage">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a class="button" id='backHomeStats'><i class="icon f7-icons if-not-md">arrow_left</i> </a>
            </div>
            <div class="title">Stats</div>
        </div>
    </div>
    <div class="page-content">
        <div class="block-title">
            <p class="stats-title-size">Games as Painter</p>
        </div>
        <div class="block block-strong text-align-center">
            <div class="gauge gauge-pintor"></div>
        </div>

        <div class="block-title">
            <p class="stats-title-size">Games as Viewer</p>
        </div>
        <div class="block block-strong text-align-center">
            <div class="gauge gauge-visor"></div>
        </div>
    </div>
</div>