<div class="page" data-name="visorPage">
    <div class="page-content" margin="auto">     
        <div>
            <p id="final-visor-determinate-container"></p>
        </div>
        <div class="row">
            <div id="fastSolution"></div>
            <canvas id="sketchpad2" style="border:3px solid #2196f3;" class="canvas-draw" readOnly></canvas>
        </div>
        <div class="row">
            <div class="col-100">
                <input type="text" value="" id="myInput" placeholder="Type answer">
            </div>
        </div>
        <div class="row">
            <div class="col-50">
                <button id="clear" class="col button button-big button-fill button-pinto-visor"><i
                    class="f7-icons size-14">trash</i></button>
            </div>
            <div class="col-50">
                <button id="sendWord" class="col button button-big button-fill button-pinto-visor"><i class="f7-icons">check</i></button>
            </div>
        </div>
    </div>
</div>